In [3]:
import math

radius = input("Enter radius: ")
height = input("Enter height: ")
volume = math.pi * int(radius)**2 * int(height)
print("The volume of a cylinder with a radius of " + str(radius) + " and a height of " + str(height) + " is " + str(round(volume, 2)) + " cm^3." )

Enter radius:  34
Enter height:  14

The volume of a cylinder with a radius of 34 and a height of 14 is 50843.54 cm^3.

In [4]:
x = 2
y = 7
not(not(x > 1)) and not (y > 14 or y > 10)

True

In [ ]:
def func1() :
    num = 2
    print(num)

def func2():
    global num
    double_num = num * 2
    num = 7
    print(double_num)

    num = 5

In [ ]:
func1()

In [ ]:
func2()

In [ ]:
def three words()
string = !!!

In [37]:
fword = input("Enter first word: ")
sword = input("Enter second word: ")
tword = input("Enter third word: ")

def three_words(fword,sword,tword):
        return fword + "!!!" + sword + "!!!" + tword + "!!!"

Enter first word:  i
Enter second word:  love
Enter third word:  you

In [38]:
three_words(fword,sword,tword)

'i!!!love!!!you!!!'

In [1]:
25 // 8

3

In [2]:
print("My name is Mercy."); print("Welcome.")
print("Good day!")

My name is Mercy.
Welcome.
Good day!

In [3]:
print('CBMES')

CBMES

In [5]:
print("CBMES")

CBMES

In [15]:
apples = 1
oranges = 2
grapes = 3
int(apples)
int(oranges)
int(grapes)

fruits = apples + oranges \
        + grapes

In [16]:
print("Hello")

Hello

In [24]:
fruits = (apples + oranges 

         + grapes)

In [6]:
p = 8.32730

print(average(p))

NameError: name 'average' is not defined

In [35]:
x = "MAPUA UNIVERSITY"
print(x[:7])

MAPUA U

In [5]:
asia = {'malaysia':'kuala_lumpur', 'philippines':'manila',

        'singapore':'singapore', 'thailand':'bangkok'}

print(asia[-1])

KeyError: -1

In [44]:
q = [17, 25, 42, 35, 47, 45]

print(min(q))

17

In [2]:
print("hello world")

hello world

name = input("Name: ")

In [23]:
name = input("Name: ")
print("Hello, %s." % name)
print("Hello, " + name + ".")
print("Hello, {}.".format (name))

if name == "Mary":
    print("Welcome, " + name + ".")
else:
    print("Access Denied")

Name:  Hello

Hello, Hello.
Hello, Hello.
Hello, Hello.
Access Denied

In [33]:
string1 = input("String 1: ")
string2 = input("String 2: ")

num1 = int(input("Num 1: "))
num2 = int(input("Num 2: "))

total = num1 + num2
string = string1 + string2

print("Total Number is: ", total)
print("Combined: " + string)

String 1:  345
String 2:  45
Num 1:  23
Num 2:  234

Total Number is:  257
Combined: 34545

In [41]:
# file = open('harry_potter.txt', 'r')
# print(file.read())
# file.close
# with open(‘filename.txt’) as file: print(file.readline())

# importing files using numpy
#  np.loadtxt (file, delimiter)
# skiprows = 1 ; when file has header, 
# usecols = [index, index] select specific parts
# dtype = data_type to specify data type

import numpy as np

data = np.loadtxt('MNIST.csv', delimiter=',', usecols=[1,2], dtype='str')
print(data)

OSError: MNIST.csv not found.